force-app/main/default/flows/Volunteer_Event_Signup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>290</locationX>
        <locationY>184</locationY>
        <defaultConnectorLabel>cancelled</defaultConnectorLabel>
        <rules>
            <name>nav_submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>navigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>nav_submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Signup_Submitted</targetReference>
            </connector>
            <label>submitted</label>
        </rules>
    </decisions>
    <description>Flow for a volunteer to sign up for an event shift</description>
    <interviewLabel>Volunteer Event Signup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Volunteer Event Signup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Shift_Signup</name>
        <label>Shift Signup</label>
        <locationX>297</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <fields>
            <name>VolunteerEvent_ShiftSignup</name>
            <extensionName>c:VolunteerEvent_ShiftSignup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>shiftID</name>
                <value>
                    <elementReference>selectedShiftID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>signupChannel</name>
                <value>
                    <elementReference>signupChannel</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>navigation</assignToReference>
                <name>navigation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contact</assignToReference>
                <name>contact</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>signup</assignToReference>
                <name>signup</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Signup_Submitted</name>
        <label>Signup Submitted</label>
        <locationX>436</locationX>
        <locationY>52</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>VolunteerEvent_SignupSubmitted</name>
            <extensionName>c:VolunteerEvent_SignupSubmitted</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>shiftID</name>
                <value>
                    <elementReference>selectedShiftID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contact</name>
                <value>
                    <elementReference>contact</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>signupChannel</name>
                <value>
                    <elementReference>signupChannel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>signup</name>
                <value>
                    <elementReference>signup</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Volunteer_Event</name>
        <label>Volunteer Event</label>
        <locationX>169</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Shift_Signup</targetReference>
        </connector>
        <fields>
            <name>VolunteerEvent_View</name>
            <extensionName>c:VolunteerEvent_View</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>eventID</name>
                <value>
                    <elementReference>eventID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventName</name>
                <value>
                    <elementReference>eventName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>signupChannel</name>
                <value>
                    <elementReference>signupChannel</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>navigation</assignToReference>
                <name>navigation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedShiftID</assignToReference>
                <name>selectedShiftID</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Volunteer_Event</startElementReference>
    <status>Active</status>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>volunteer event / campaign ID</description>
        <name>eventID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>volunteer event/campaign name</description>
        <name>eventName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>indicates flow navigation</description>
        <name>navigation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>shift ID selected to sign up for</description>
        <name>selectedShiftID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>signup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <description>where this flow was launched from: Event Link, Website, Internal</description>
        <name>signupChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
